
{% load static %}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #eee
}

#pills-tab{
  max-height: 56px;
}

.tab{ 
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

}

.tab i{
  font-size: 15px;
  padding-top: 15px;
  transition: font-size 1s;
  color: white;
}

.tab p{
  font-size: 0px;
  max-width: 500px;
  margin-left: 0px;
  padding: 0;
  color: #fff; 
}

.tab.active a i{
  font-size: 30px;
  margin-left: 1px;
  padding-top: 0px;
  transition: padding-bottom 1s;
  color: #292b2c;
}

.tab.active a p{
  max-width: 500px;
  min-width: 100px;   
  color: #292b2c;
  font-size: 12px;
}

.tab.active a {
  background: #fff!important;
  color: #fff!important;

}



.icon-header {
    width: 50px;
    height: 50px;
    background-color: #ffcc65;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.nav-link.active {
    color: white !important;
}

.splide {
  padding: 20px 0;
}

// Generic Slide
.splide__slide {
  img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 400ms;
    transform: scale(.9);
    transform-origin: center center;
  }
}

// Active Slide
.splide__slide.is-active {
  img {
    transform: scale(1);
  }
}

// Arrow Tweaks for Accessibility
.splide .splide__arrow {
  top: 0;
  bottom: 0;
  height: 100%;
  transform: none;
  border-radius: unset;
  width: 50px;
  opacity: .9;
  svg {
    filter: invert(1);
    width: 24px;
    height: 24px;
  }
}
.splide__arrow.splide__arrow--prev {
  left: 0;
  background: linear-gradient(90deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
}
.splide__arrow.splide__arrow--next {
  right: 0;
  background: linear-gradient(270deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%);
}

// Page CSS
body {
  margin: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: Arial;
}
a {
  text-decoration: none;
}
section {
  max-width: 700px;
  margin: 0 auto;
}
.left {
  text-align: left;
}

.indicator-value > h3{
  color: #053f8c;
}


.social-icon {
            text-align: center;
            background-color: #f8f9fa;  
            transition: transform 0.2s ease-in-out;
            height: 100%;
        }

        .social-icon:hover {
            transform: scale(1.1);
        }

        .social-icon img {
            max-width: 50px;
            height: auto;
        }

        .social-icon p {
            font-size: 12px; /* Ukuran font lebih kecil */
            margin: 5px 0 0 0; /* Margin kecil antara ikon dan teks */
            color: #053f8c;
        }

 .vpn-badge {
        position: relative;
        top: -10px; /* Geser ke atas sesuai kebutuhan */
        padding: 1px;
        border-radius: 5px;
        cursor: pointer;
    }

  
