{% load static %}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee
}

#pills-tab{
  max-height: 56px;
}

.tab{ 
  background-color: #ffffff;
  border-radius: 0px;
  cursor: pointer;
  align-items: center;
  justify-content: center;

}

.tab i{
  font-size: 15px;
  padding-top: 15px;
  transition: font-size 1s;
  color: white;
}

.tab p{
  font-size: 0px;
  max-width: 500px;
  margin-left: 0px;
  padding: 0;
  color: #fff; 
}

.tab.active a i{
  font-size: 30px;
  margin-left: 1px;
  padding-top: 0px;
  transition: padding-bottom 1s;
  color: #292b2c;
}

.tab.active a p{
  max-width: 500px;
  min-width: 100px;   
  color: #292b2c;
  font-size: 12px;
}

.tab.active a {
  background: #fff!important;
  color: #fff!important;

}


.icon-header {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.nav-link.active {
  color: white !important;
}
 .navbar {
        background: linear-gradient(60deg, #000000, #042042);
        background-size: 200% 200%;
        animation: gradientShift 10s ease infinite;
    }

    @keyframes gradientShift {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .text-darkwarning {
        color: #FFD700; /* Contoh warna lain jika ingin mengganti text-warning */
    }

    .btn-secondary {
        background-color: transparent;
        border: none;
    }

    
// Page CSS
body {
  margin: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: Arial;
}
a {
  text-decoration: none;
}
section {
  max-width: 700px;
  margin: 0 auto;
}
.left {
  text-align: left;
}

.indicator-value > h3{
  color: #053f8c;
}


.social-icon {
  text-align: center;
  background-color: #f8f9fa;  
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon img {
  max-width: 50px;
  height: auto;
}

.social-icon p {
  font-size: 12px; /* Ukuran font lebih kecil */
  margin: 5px 0 0 0; /* Margin kecil antara ikon dan teks */
  color: #053f8c;
}

.vpn-badge {
  position: relative;
  top: -10px; /* Geser ke atas sesuai kebutuhan */
  padding: 1px;
  border-radius: 5px;
  cursor: pointer;
}



.ajaxProgess {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.9);
  z-index: 2000;
  cursor: pointer;
}

.loadingicon{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}



.coverpub{
  background-image: url("https://img.freepik.com/free-vector/soft-yellow-watercolor-texture-background_1055-10236.jpg");
  background-size: 100% 100%;

}
.infopub{
  background-image: url("https://img.freepik.com/free-vector/soft-yellow-watercolor-simple-texture-background-vector_1055-13125.jpg");
  background-size: 100% 200%;
  background-position: 50% 100%; 
}
.itemindex{
  width: 40px; 
  height: 40px; 
  top: 15px;
  left: 0px;
  background-color: transparent;
  padding: 2px 2px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.bg-lightwarning{
  background-color: #ffefb5;
}

.bg-darkwarning{
  background-color: #eba434;
}

.text-darkwarning{
  color: #eba434;
}

#exampleModalContent{
  font-size: 0.8em;
  line-height: 1.5;
  text-align: justify;
}

.cari_publikasi:hover {
  background: #cf7f00;
}

div.example::after {
  content: "";
  clear: both;
  display: table;
}



/* Mengatur latar belakang default tombol */
.judul-infografis {
    background-color: white; /* Warna latar belakang default tombol */
    transition: background-color 1s ease; /* Transisi halus saat hover */
}

/* Menyembunyikan tombol secara default */
.position-relative .judul-infografis {
    display: none;
}

/* Menampilkan tombol saat di-hover */
.position-relative:hover .judul-infografis {
  display: block;
  background-color: rgba(0, 0, 0, 0.7); /* Latar belakang hitam dengan opacity 0.7 */
  color: white;
}

.card-infografis:hover {
  cursor: pointer;
}




body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #fedc97 3%, #023047 25%, #219ebc 50%, #f7d5be  75%, #7c9885 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}








.bps-lightblue{
  background-color: rgb(227, 246, 255)!important;
}

.bps-lightgreen{
  background-color: rgb(227, 246, 222)!important;
}

.bps-lightorange{
  background-color: rgb(255, 243, 222)!important;
}
.lightgreen{
    background-color: rgb(204, 252, 192)!important;
}
.bg-white{
  background-color: rgb(255, 255, 255);
}
.bg-grey{
    background-color: #2e2d2d;
}
.bps-blue{
  color: rgb(51, 149, 205)!important;
}
.bps-orange{
  color: rgb(228, 145, 55)!important;
}
.bps-green{
  color: rgb(117, 179, 60)!important;
}

.bordertopblue{
  border-top: 8px solid rgb(51, 149, 205);
}

.bordertoporange{
  border-top: 8px solid rgb(228, 145, 55);
}

.bordertopgreen{
  border-top: 8px solid rgb(117, 179, 60);
}

.borderbotblue{
    border-bottom: 2px solid rgb(51, 149, 205);
}

.borderbotorange{
    border-bottom: 2px solid rgb(228, 145, 55);
}

.borderbotgreen{
    border-bottom: 2px solid rgb(117, 179, 60);
}

.borderleftblue{
    border-left: 5px solid rgb(227, 246, 255)!important;
    border-bottom: 3px solid rgb(227, 246, 255)!important;
}
.borderleftorange{
    border-left: 5px solid rgb(255, 243, 222)!important;
    border-bottom: 3px solid rgb(255, 243, 222)!important;
}
.borderleftgreen{
    border-left: 5px solid rgb(227, 246, 222)!important;
    border-bottom: 3px solid rgb(227, 246, 222)!important;
}

.link-secondary{
    color: rgb(61, 61, 61);
}
.btn-no-rounded {
            border-radius: 0 !important;



