{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Satu Data Blora</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/dcedc4eee7.js" crossorigin="anonymous"></script>
            <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    </head>
    <body>

    <nav class="navbar sticky-top navbar-light bg-dark">
        <div class="container">
            <div class="row p-2">
                <div class="col p-0">
                    <a href="#" class="text-decoration-none">
                        <div class="card-body container d-flex p-0">
                            <div class="card-indicator-icon mr-3">
                            </div>
                            <div class="card-indicator-text">
                                <div class="text-light"><h5 class="m-0 font-weight-bold">Satu Data Blora</h5></div>
                                <p class="m-0" style="color:#eba434;" id="header">Beranda</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="dropdown-center ">
                    <button class="btn btn-secondary btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-question-circle" style="font-size: 20px; color: white;"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="#">Tentang Aplikasi</a></li>
                    </ul>
                </div>
            </div>
        </div>       
    </nav>

    <div class="container-fluid pt-3 pb-3"> 
        <div class="tab-content pb-5" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-beranda" role="tabpanel" aria-labelledby="pills-beranda-tab">
                <div class="container mb-2">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-8 py-2">

                            <div class="card border-0">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="icon-header"> <i class="bx bxs-slideshow bx-tada"></i> </div>
                                            <div class="ms-2 c-details">
                                                <h3 class="mb-0 fw-bold">Galeri Infografis</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-0 align-items-center d-flex justify-content-center">

                                    <section class="splide" aria-label="Splide Basic HTML Example">
                                      
                                        <div id="splide" class="splide">
                                            <div class="splide__track">
                                                <ul class="splide__list align-items-center d-flex justify-content-center">
                                                    <li class="splide__slide">
                                                        <a class="btn" href="#" role="button">
                                                            <img class="d-block w-100" src="https://img.freepik.com/free-photo/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room_74952-1410.jpg?t=st=1715759685~exp=1715763285~hmac=f2159014e69a9f52095c4ebec894f9aa733f16e95344924bdc871c1e9108d73c&" alt="First slide">
                                                        </a>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>  
                                    </section>

                                </div>
                            </div>
                        </div>




                        <div class="col-md-8">
                            <div class="card border-0">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="icon-header"> <i class='bx bx-bar-chart-square bx-tada'></i> </div>
                                            <div class="ms-2 c-details">
                                                <h3 class="mb-0 fw-bold">Indikator Strategis</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-dark p-0 d-flex align-items-center d-flex justify-content-center">
                                </div>
                            </div>
                        </div>
                            
                        
                        <div class="col-md-8 py-2">
                            <div class="card border-0 border-light">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="icon-header"> <i class="bx bx-desktop bx-tada"></i> </div>
                                            <div class="ms-2 c-details">
                                                <h3 class="mb-0 fw-bold">Sosial Media</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-dark p-0 d-flex align-items-center d-flex justify-content-center">
                                </div>
                            </div>    
                        </div>  
                        <div class="col-md-8 py-2">
                            <div class="card border-0 border-light">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="icon-header"> <i class="bx bxl-dribbble bx-tada"></i> </div>
                                            <div class="ms-2 c-details">
                                                <h3 class="mb-0 fw-bold">Sosial Media</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body bg-dark p-0 d-flex align-items-center d-flex justify-content-center">
                                </div>
                            </div>    
                        </div> 
                    </div>
                </div>
            </div>
            
            <!--### PUBLIKASI ###-->
            <div class="tab-pane fade" id="pills-publikasi" role="tabpanel" aria-labelledby="pills-publikasi-tab">
                <div class="container mb-2">
                    <div class="row d-flex justify-content-center">
                        <div class="d-flex example py-3" style="width: 100%;margin:auto;max-width:1000px">
                            <input class="input_search_publikasi" type="text" placeholder="Cari Publikasi.." name="search2">
                            <button type="submit" class="cari_publikasi btn btn-secondary m-0">Cari</button>
                        </div>
                        <div class="row2 col-md-10">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center"><button class="btn btn-dark" type="submit" id="load_pub">Muat lebih banyak..</button></div>       
                </div>
            </div>  
                
            <!--### DATA ###-->
            <div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
                <div class="container">
                    <div class="row d-flex justify-content-center border border-black bg-dark">
                        <p class="text-white text-center m-1">Menu ini berisi data data yang dihasilkan oleh BPS yang disajikan dalam bentuk tabel</p>
                    </div>
                    <div class="row row4 d-flex justify-content-center">
                        <div class="container m-0 p-0">
                            <div class="mt-3 mb-2 bordertopblue borderbotblue">
                                <button type="button" class="btn bg-white shadow-none border border-primary text-left w-100 m-0 p-2 font-weight-bold subject_0" data-toggle="collapse" data-target="#subject_0">
                                    <i class="fas fa-users pr-2 bps-blue"></i>
                                    Sosial & Kependudukan
                                </button>
                            </div>
                            <div class="mb-2 bordertoporange borderbotorange">
                                <button type="button" class="btn bg-white shadow-none border border-warning text-left w-100 m-0 p-2 font-weight-bold subject_1" data-toggle="collapse" data-target="#subject_1">
                                    <i class="fas fa-money-bill-wave pr-2 bps-orange"></i>
                                    Ekonomi & Perdagangan
                                </button>
                            </div>
                            <div class="mb-2 bordertopgreen borderbotgreen">
                                <button type="button" class="btn bg-white shadow-none border border-success text-left w-100 m-0 p-2 font-weight-bold subject_2" data-toggle="collapse" data-target="#subject_2">
                                    <i class="fas fa-leaf pr-2 bps-green"></i>
                                    Pertanian & Pertambangan
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <!--### BRS ###-->
            <div class="tab-pane fade" id="pills-brs" role="tabpanel" aria-labelledby="pills-brs-tab">
                <div class="container">
                    <div class="row d-flex justify-content-center">

                        <div class="d-flex example py-3" style="width: 100%;margin:auto;max-width:1000px">
                            <input class="input_search_brs" type="text" placeholder="Cari BRS.." name="search2">
                            <button type="submit" class="cari_brs btn btn-secondary m-0">Cari</button>
                        </div>

                        <div class="row5 col-md-10">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center"><button class="btn btn-dark" type="submit" id="load_brs">Muat lebih banyak..</button></div>       
                </div>
            </div>

            <!--### BERITA ###-->
            <div class="tab-pane fade" id="pills-berita" role="tabpanel" aria-labelledby="pills-berita-tab">
                <div class="container">
                    <div class="row d-flex justify-content-center">

                        <div class="d-flex example py-3" style="width: 100%;margin:auto;max-width:1000px">
                            <input class="input_search_berita" type="text" placeholder="Cari Berita.." name="search2">
                            <button type="submit" class="cari_berita btn btn-secondary m-0">Cari</button>
                        </div>

                        <div class="row1 col-md-10">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center text-light"><button class="btn btn-dark" type="submit" id="load_berita" >Muat lebih banyak..</button></div>   

                </div>
            </div>
        </div>
    </div>


    <ul class="nav nav-pills fixed-bottom nav-justified w-100 bg-dark " id="pills-tab" role="tablist">
        <li class="tab nav-item tabberanda active bg-dark" role="presentation">
            <a class="nav-link active p-1" id="pills-beranda-tab" data-bs-toggle="pill" data-bs-target="#pills-beranda" type="button" role="tab" aria-controls="pills-beranda" aria-selected="true">
                <i class="fas fa-home"></i>
                <p class="m-0 fw-bold">Beranda</p>
            </a>
        </li>
        <li class="tab nav-item bg-dark" role="presentation">
            <a class="nav-link p-1" id="pills-publikasi-tab" data-bs-toggle="pill" data-bs-target="#pills-publikasi" type="button" role="tab" aria-controls="pills-publikasi" aria-selected="false">
                <i class="fas fa-book-open"></i>
                <p class="m-0 fw-bold">Publikasi</p>
            </a>
        </li>
        <li class="tab nav-item bg-dark" role="presentation">
            <a class="nav-link p-1" id="pills-data-tab" data-bs-toggle="pill" data-bs-target="#pills-data" type="button" role="tab" aria-controls="pills-data" aria-selected="false">
                <i class="fas fa-database"></i>
                <p class="m-0 fw-bold">Data</p>
            </a>
        </li>
        <li class="tab nav-item bg-dark" role="presentation">
            <a class="nav-link p-1" id="pills-brs-tab" data-bs-toggle="pill" data-bs-target="#pills-brs" type="button" role="tab" aria-controls="pills-brs" aria-selected="false">
                <i class="fas fa-file-alt"></i>
                <p class="m-0 fw-bold">BRS</p>
            </a>
        </li>
        <li class="tab nav-item bg-dark" role="presentation">
            <a class="nav-link p-1" id="pills-berita-tab" data-bs-toggle="pill" data-bs-target="#pills-berita" type="button" role="tab" aria-controls="pills-berita" aria-selected="false">
                <i class="fas fa-newspaper"></i>
                <p class="m-0 fw-bold">Berita</p>
            </a>
        </li>
    </ul>



    






    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>




    <script>
        const tabs = document.querySelectorAll('.nav-item');

        tabs.forEach(clickedTab => {
            clickedTab.addEventListener('click', () => {
                tabs.forEach(tab => {
                    tab.classList.remove('active');
                });
                clickedTab.classList.add('active');
                
            });
            
        });
           

        $(document).ready(function() {
            var api_infografis = 'https://webapi.bps.go.id/v1/api/list/';
            var param_infografis = {
                model: 'infographic',
                lang: 'ind',
                domain: '3501',
                page:1,
                key: '481cbe5f8403e091cb7abfd4d83829a3'
            };

            $.ajax({
                url:api_infografis,
                type:'GET',
                data:param_infografis,
                dataType:'json',
                success:function(res){
                    var _html='';
                    console.log(res);
                }
            });
        });

        document.addEventListener( 'DOMContentLoaded', function () {
            new Splide('#splide', {
                type: 'loop',
                perPage: 3,
                focus: 'center',
                autoplay: true,
                interval: 8000,
                flickMaxPages: 3,
                updateOnMove: true,
                pagination: false,
                padding: '10%',
                throttle: 300,
                breakpoints: {
                    1440: {
                        perPage: 1,
                        padding: '30%'
                    }
                }
            }).mount();
        });

    </script>
  </body>
</html>